body {
    font-family: Arial, Helvetica, sans-serif;
}

.body_bg {
    background: #149858;
}

.body_bg1 {
    background: #f5f5f5;
}

.login-box-plain {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    border: none;
    border-radius: 0;
    padding: 10px 20px 30px;
}

.login-box-plain input, .login-box-plain textarea {
    padding: 20px;
    border-radius: 0;
}

.btn {
    padding: 10px 12px;
    border-radius: 0;
}

.bigintro {
    font-size: 30px;
}

label {
    font-size: 15px;
}

.btn_grn {
    background: #08a14f;
    color: #ffffff;
}

a {
    color: #6b6b6b;
    text-decoration: underline;
}

a:hover, a:focus {
    color: #08a14f;
    text-decoration: underline;
}

.login-box form i, .login-box-plain form i {
    margin: 15px 2px 4px 10px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #149858;
}

.navbar-default {
    background-color: #149858;
    border-color: #e7e7e7;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
}

.navbar-brand {
    padding: 7px 7px;
}

.navbar-default .navbar-nav>.active>a {
    color: #fff;
    text-decoration: none;
    background-color: #149858!important;
}

.cont_top {
    margin: 70px 0 0 0;
}

.btn_blu {
    background: #025e92;
    color: #fff;
}

.big_font_inPara {
    font-size: 22px;
    color: #149858;
}
.abt_border{
    border: #fff 1px solid; padding: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
}


#notificationDiv{
	border-style: dotted;
    border-width: 2px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
h3{
	font-weight: bold;
}
#text{
	font-family: 'Cabin';font-size: 22px;
}